@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

  .wallpaper {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
  .background-container {
    min-width: 200px;
    min-height: 300px;
    display: grid;
    place-content: center;
    border-radius: 10px;
    color: rgb(0, 255, 21);
  }
  .heading{
    letter-spacing: 2px;
    font-weight: bolder;
  }
  .time {
    max-width: 150px;
    width: auto;
    border-radius: 3px;
    font-size: large;
    font-weight: 600;
  }
  p {
    font-size: small;
    margin: 10px;
  }